<div class="card w-75 mx-auto mt-4 shadow-lg">
  <% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>
  <div class="card-header">
    <%= image_tag @post.get_image, class:"card-img-top"; %>
  </div>
  <div class="card-body">
    <%= form_with(model: @post) do |f| %>

      <div class="form-group">
        <%= f.label :title, "タイトル" %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :sauna_name, "店名" %>
        <%= f.text_field :sauna_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :address, "住所" %>
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :caption, "詳細な説明" %>
        <%= f.text_area :caption, rows: 5, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "変更を保存", class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>
