<p id="notice"></p>
<div>
  <% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>
</div>
<div class="carousel-inner text-center">
  <% @carousel_posts.each_with_index do |post, index| %>
    <div class="carousel-item <%= 'active' if index.zero? %>">
      <%= image_tag post.image, alt: post.title, size: "700x400" if post.image.present? %>
    </div>
  <% end %>
</div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="text-center mt-4">
  <h2>ようこそ、サウナ山へ！</h2>
  <p>自然に囲まれたサウナを通して、共有できるコミュニティサイトになります。</p>
  <p>会員でない方も投稿の閲覧はできますが、投稿には会員登録が必要になります。</p>
</div>

<h4 class="text-left mt-4 font-weight-bold" style="margin-left: 25%; ">新着投稿</h4>

<div class="row justify-content-end mt-3">
  <% @recent_posts.each do |post| %>
    <div class="col-md-2 text-center mx-3">
      <%= link_to post_path(post) do %>
        <%= image_tag post.image, alt: post.title, size: "200x150" if post.image.present? %><br>
        <span class="text-dark"><%= post.title %></span><br>
        <span class="text-dark"><i class="fas fa-user"></i><%= post.user.name %></span>
      <% end %>
    </div>
  <% end %>
</div>