<p id="notice"></p>
<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <span class="bg-light px-2 h4">ログイン</span>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 py-5 px-sm-0 text-left">
      <span class="bg-light px-2 mt-4 ">会員の方はこちらからログイン</span>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field row mt-4">
        <div class="col-4">
          <%= f.label :メールアドレス %>
        </div>
        <div class="col-8">
          <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "sample@example.com" %>
        </div>
      </div>

      <div class="field row mt-4">
        <div class="col-4">
          <%= f.label :パスワード %>
        </div>
        <div class="col-8">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>

      <div class="actions mt-4 text-center">
        <%= f.submit "ログイン" , class:"btn btn-sm btn-primary" %>
      </div>
      <% end %>

      <div class="field row mt-4">
        <span class="bg-light px-2 mt-4 ">会員登録がお済みでない方</span>
      </div>
      <div class="row form-group col-10 mt-3">
        <span><%= render "public/shared/links" %></span>から新規登録を行ってください。
    　</div>
    </div>
  </div>
</div>
