<% if flash[:notice] %>
<div class="alert alert-success">
  <%= flash[:notice] %>
</div>
<% end %>

<% if flash[:alert] %>
<div class="alert alert-danger">
  <%= flash[:alert] %>
</div>
<% end %>
<div class="container">
  <div class="row justify-content-left">
    <div class="col-sm-12 col-md-8 col-lg-6 px-5 py-5 px-sm-0 ">
      <span class="bg-light px-2 h4">マイページ</span>
      <div class="mt-4 mb-5">
        <%= image_tag @user.get_profile_image(200,150) %>
      </div>
      <div class="field row mt-4">
        <div class="col-4 font-weight-bold">登録情報
        </div>
        <div class="row mb-3">
          <a href="<%= users_edit_path %>" class="btn btn-success">編集する</a>
        </div>
        <div class="actions col-8">
        </div>
      </div>
      <table class="table table-bordered ">
        <tbody>
          <tr>
            <th class="bg-light">ユーザネーム</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th class="bg-light">電話番号</th>
            <th><%= @user.telephone_number %></th>
          </tr>
          <tr>
            <th class="bg-light">メールアドレス</th>
            <th><%= @user.email %></th>
          </tr>
        </tbody>
      </table>
      <div class="field row mt-4">
        <div class="col-4 font-weight-bold">投稿
        </div>
        <div class="ml-2 mb-3">
          <a href="<%= new_post_path %>" class="btn btn-success mr-3">新しく投稿する</a>
        </div>
        <div class="mb-3">
          <a href="<%= liked_post_path %>" class="btn btn-danger">いいね！一覧</a>
        </div>
        <div class="actions col-8">
        </div>
      </div>
    </div>
  </div>
</div>
